.hero {
   height: 27rem;
   width: 100%;
   background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%), url(../../Assests/hero-logo/hero.jpg);
   object-fit: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
}
